<%= form_with(model: source, local: true) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :provider %><br>
    <%= form.text_field :provider %>
  </div>

  <div>
    <%= form.label :is_human %><br>
    <%= form.check_box :is_human %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
